
.addContact {
  margin-top: 2%;
}

.alert-danger {
     font-size: 16px;
     color: red;
}

.alert-success {
     font-size: 16px;
     color: green;
}

.main{
  text-align: center;
  position: relative;
}

.form-control {
  width: 25%;
}
